---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import Contact from "./contact.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>

    <body
        class="bg-linear-to-t from-pink-100 to-pink min-h-screen flex justify-center "
    >
        <div
            class="w-10/12 max-w-5xl bg-white backdrop-blur-lg shadow-lg rounded-2xl p-6 flex px-5"
        >
             
            <main class="  p-6">
                <Header />
                <p class="text-gray-700 text-sm/6 mt-4">
                    Hello! I'm <strong>Ichko</strong>, a passionate web
                    developer based in Khovd, Mongolia. I specialize in
                    building responsive and accessible web applications with
                    modern technologies.
                </p>

                <Card />

                <!-- Contact Section -->
                    <Contact />
            </main>
        </div>
    </body>
</html>
