---


---

<div id="project-card" class="mt-8">
  <h2 class="text-xl font-bold text-green-800 mb-4">projects</h2>

   
    <ul class=" grid grid-cols-1 md:grid-cols-2 gap-6  ">
     
     <a href="https://github.com/Ichkko/travelguide"> <li class="bg-linear-to-r from-pink-50 to-pink border border-gray-300 rounded-lg p-4 hover:scale-105 transition-transform duration-300 shadow-md">
          <img src=../1.png alt="Project Image" class="w-full h-32 object-cover border border-gray-100  rounded-t-lg mb-4" />
          <p class="text-lg font-semibold text-gray-700">WoTour</p>
           <p class="text-sm text-gray-600 mb-2">Spring Boot + MySQL + JWT</p>
        <p class="text-gray-700 mb-2">Developed a REST API with user authentication, task CRUD operations and MySQL integration.</p>
         <p class="text-blue-500 text-sm underline">View Project</p>
     
        </li></a>
     
    </ul>
  
    <div class="flex justify-center mt-8">
      <a href="#" class="bg-green-800 text-white px-4 py-2 rounded-lg hover:bg-green-700 transition duration-300">View All Projects</a>
</div>

