 

    <div class="max-w-3xl mx-auto mt-10 p-6 bg-white rounded-2xl shadow-sm">
      <h1 class="text-3xl font-bold mb-4 text-indigo-600">Education</h1>
      <div class="space-y-6">

        <div>
          <h2 class="text-lg font-semibold">МУИС - Програм хангамж</h2>
          <p class="text-sm text-gray-500">Мэргэжил: Програм хангамж | 2022 - 2026</p>
        </div>
        
      </div>
    </div>
 
 
